
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
  bitcoin clone
  </a>
</nav>
<div>
  <button classs="btn btn-outline-light" routerLink="/new/transaction/pending" *ngIf="areTherePendingTransactions()">
    Pending transactions
    <span>{{ blockchain.pendingTransactions.length }} </span>
  </button>
  <button class="btn btn-outline-light" routerLink="/settings">Settings</button>
  &nbsp;
  <button classs="btn btn-outline-light" routerLink="/new/transaction">Create transaction</button>
  &nbsp;
  
</div>

<router-outlet></router-outlet>